<section class="content-section-subtitle">
  <p class="sectio-title">
    Ubicación
  </p>
</section>

<section class="content-section-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3983.2977716573932!2d-76.52135272532325!3d3.2761388966988214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zM8KwMTYnMzQuMSJOIDc2wrAzMScwNy42Ilc!5e0!3m2!1ses-419!2sco!4v1685237282602!5m2!1ses-419!2sco"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="mapa">
  </iframe>
</section>
