
<section  class="conten-banner-button">

  <button mat-icon-button aria-label="Example icon button with a home icon" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>


<a class="navagation-banner" href="https://www.estrenarvivienda.com/pellares/65342?destacado=home">
  <section class="conten-banner">
    <div class="content-text-banner">
      <p class="title-banner">
        Casas en venta
      </p>
    </div>
    <div class="conten-imagen">
      <img class="imagen1" src="../../../assets/imagen/slider/el-catillo-casa-violetas-vista-casa.jpg" alt="casa el castillo violetas">

      <img class="imagen2" src="../../../assets/imagen/castillo-tulipanes-patio.jpg" alt="apartamento castillo tilipanes patio">

      <img class="imagen3" src="../../../assets/imagen/el-castillo-camelia-c-fachada.jpg" alt="facghada el castillo camelia">

    </div>

  </section>

</a>
